/* Slideshow container */
.mySlides {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

.mySlides .img-container{
  height: 400px;
}
  
  /* Next & previous buttons */
  .mySlides .prev, .mySlides .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.1);
  }
  
  /* Position the "next button" to the right */
  .mySlides .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .mySlides .prev:hover, .mySlides .next:hover {
    background-color: rgba(0,0,0,0.3);
  }
  
  /* Caption text */
  .mySlides .text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;

    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .mySlides .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .mySlides .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .mySlides .active, .mySlides .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .mySlides .fade {
    -webkit-animation-name: slidefade;
    -webkit-animation-duration: 1.5s;
    animation-name: slidefade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes slidefade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes slidefade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .mySlides .prev, .mySlides .next,.mySlides .text {font-size: 11px}
  }