<!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Experience </h2>
<div> 
	<ul>
		<li class="f4 text-gray text-left"> Predoctoral Researcher at <a href='https://research.google/teams/india-research-lab/'>Google Research, India</a> (2020 - 2022)  </li>
		<li class="f4 text-gray text-left"> Teaching Assistant for <span style='color: magenta;'> Analog Systems and Lab </span> at <a href='https://www.iitm.ac.in/'>IIT Madras</a> (Jan 2020 - May 2020)</li>
		<li class="f4 text-gray text-left"> Teaching Assistant for <span style='color: magenta;'> Data Analytics Lab </span> at <a href='https://www.iitm.ac.in/'>IIT Madras</a> (Aug 2019 - Dec 2019)</li>
		<li class="f4 text-gray text-left"> Summer intern at <a href='https://research.ibm.com/labs/india/'>IBM Research, India</a>, <a href='https://research.ibm.com/collaborate/horizons-network/'> AI Horizons Network </a> program (May 2019 - July 2019)  </li>
		<li class="f4 text-gray text-left"> Undergraduate student mentor at <a href='https://www.linkedin.com/company/iitmsaathi/?originalSubdomain=in'> Saathi, IITM </a> (Aug 2017 - May 2018)  </li>
		<li class="f4 text-gray text-left">Summer intern at <a href='https://www.linkedin.com/company/mastercard/'> Mastercard Technology Pvt Ltd, Pune, India </a>, Team Enterprise Architecture (May 2017 - Aug 2017)  </li>
	</ul>
</div>

 -->